* {
	margin: 0px;
	padding: 0px;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
a { text-decoration: none; color : #000;}
h1 {
	font: bold 20px times;
}
h2 {
	font: bold 14px times;
}
h3 {
	text-align: center;
}
h4 {
	border-top: 1px solid black;
	padding: 10px;
	text-align: center;
}
header, section, footer, aside, nav, article, hgroup {
	display: block; /*all things are on top of eachother*/
}


body {
	background-image: url('pics/brushblurr.png');
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center; /*when website is bigger than boxes, inside, just center the content*/
	

}

#big_wrapper {
	max-width: 1000px;
	margin: 20px 0px;
	display:-webkit-box; /*website can change size*/
	-webkit-box-orient: vertical; /*all content displayed on-top of each other*/
	-webkit-box-flex:1; 
}

#top_header {
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid black;
	padding:20px;
	/*-webkit-border-radius:10px; /*ROUNDS THE EDGES of HEADER*/

}
#top_menu {
	border-bottom: 1px solid rgba(0, 0, 0, 0.27);
	background: rgba(255, 255, 255, 0.03);
	color:white;
	/*-webkit-border-radius:4px; /*ROUNDS THE EDGES of MENU*/
	-webkit-transition: opacity 1s;
}
#top_menu li{
	display: inline-block;
	list-style: none;
	font-size: 26px;
	padding:20px;
	font-weight: bold;
	opacity: .65;
	margin-right: -24px;
	-webkit-border-radius:2px; /*ROUNDS THE EDGES of MENU li items*/
	-webkit-transition: opacity 1s;
}
#header {
	width: 100%;
	height: 100px;

}
#logo {
	float: left;
	margin: 0 0 -24px -20px;
	opacity: .8;
}
#top_menu li:hover{
	opacity: .4;
}

#new_div {
	display:-webkit-box;
	-webkit-box-orient: horizontal;
}
#main_section {
	border: 1px solid black;
	-webkit-box-flex:1;
	margin: 20px;
	padding:15px;
	-webkit-border-radius:5px;
}


ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /*should match li left margin*/
}

ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;/*MOZILLA*/
	-webkit-box-sizing: border-box; /*CHROME*/
}
ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
	max-width: 100%;
}

ul.rig li h3 {
	margin: 0 0 5px;
}

ul.rig li h4 {
	margin: 0 0 5px;
	opacity: .3;
}

ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color:#999;
}


/*START COLUMN WIDTH SPECS*/
/*class for 2 COLUMN*/
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50%*/
	
}
/*class for 3 COLUMN*/
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33%*/
}
/*class for 4 COLUMN*/
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25%*/
}
/*END COLUMN WIDTH SPECS*/

/*START COLUMN WIDTH MOBILE*/
@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}
#side_news {
	border:1px solid red;
	width: 220px;
	margin: 20px 0px;
	padding:30px;
	background:#66CCCC;
		-webkit-border-radius:10px;

}
#the_footer {
	text-align: center;
	padding-bottom: 4px;
    padding-top: 41px;
	border-top: 2px rgba(0, 0, 0, 0.63);
}
.top {
	opacity: .5;
}


